<div class="container" id="about">
  <div class="row">
    <div class="threecol">
      <div>
      <h1>About us</h1>
      <p>Test paragraph.</p>
      </div>
    </div>
    <div class="ninecol last">
      <div>
      <h1>other column</h1>
      </div>
    </div>
  </div>
</div>
